
{% block content %}
  <h1>HARIJS</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Engineer</th>
        <th>Studio</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedule_data %}
        <tr>
          <td>{{ schedule.date }}</td>
          <td>{{ schedule.engineer.name }}</td>
          <td>{{ schedule.studio.name }}</td>
          <td>{{ schedule.start_time }}</td>
          <td>{{ schedule.end_time }}</td>
          <td>{{ schedule.availability }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
